/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #000000;
}

/* Header */
header {
    background-color: #ffecf1;
    color: #000000;
    text-align: center;
    padding: 20px;
    font-size: 18px;
     display: flex;
    align-items: center;
     justify-content: space-between;
     padding: 15px 30px;
     background-color: #ffecf1
}

.button {
    list-style-type: none;
    display: flex;
    gap: 50px;
    font-size: 20px;
    font-family: Arial,;
}


.button a:link, .dropdown-content a:link{
    color: #e56aaa;
    text-decoration: none;
}

.button a:hover, .dropdown-content a:hover {
    color: #ff008c;
    text-decoration: underline
}


.button a:active, .dropdown-content a:active {
    color: #ff0000;
    text-decoration: none;
}

:visited:hover{
    color: #e686d1;
}


.button a {
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
}


    
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-btn {
    background: #ffecf1;
    color: black;
    padding: 10px 15px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #e00d53;
    min-width: 180px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: left;
}

.dropdown-content a {
    color: #000000;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #005aa7;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.menu-container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 20px;
}

.menu-item img {
    width: 150px;
    height: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}
.menu-item-text {
    flex: 1;
    text-align: left;
    padding-left: 20px;
}

.menu-button {
    text-decoration: none;
    color: #e91e63;
    font-size: 18px;
    padding: 10px;
    display: block;
}

/* Footer */
footer {
    text-align: center;
    background-color: #ffecf1;
    color: #e56aaa;
    padding: 15px;
    margin-top: 20px;
}

.h3{
    font-size: 12px;
    color:#e686d1 ;
}